@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.display {
    display: flex !important;
}

nav {
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav-link {
    margin-left: 2.5%;
    font-size: 20px;
    transition: 0.2s;
}

.nav-link:hover {
    color: #b99b4c;
    opacity: 0.7;
}

.active {
    color: #971641 !important;
}

.gold {
    color: #b99b4c;
    text-shadow: 4px 4px 4px black;
}

.stylized {
    font-family: 'Julius Sans One', sans-serif;
}

.section-div {
    width: 90%;
    height: 90%;
    background-color: rgba(52, 52, 52, 0.8);
    border-radius: 2.5%;
    position: absolute;
    top: 4.7rem;
    left: 0;
    margin: auto;
    right: 0;
}

.portrait {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.arrow {
    height: 40px;
    width: 40px;
    border-radius: 0;
}

.btn {
    background-color: #6e1836;
    color: white;
    border-radius: 20px;
    font-size: 32px;
    padding: 0.75% 5%;
    box-shadow: 3px 3px 3px rgb(14, 14, 14);
}

.btn:hover {
    background-color: #6f0827;
}

.btn-arrow {
    border-radius: 0;
    padding: 0 3%;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-up {
    display: none;
    top: 3%;
    bottom: unset;
}

.lower-content {
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    top: 4.7rem;
}

input {
    color: black;
}

textarea {
    color: black;
}

ul {
    list-style-type: circle;
    margin-left: 20px;
}

.social {
    width: 20px;
    width: 20px;
    margin-right: 10px;
}

.pop-out:hover {
    transform: scale(1.1);
}

.pop-out {
    transition: 0.2s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 25px;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 20px;
}

.card {
    width: 275px;
    min-width: 275px;
    height: 460px;
}

.aligner {
    width: 275px;
    min-width: 275px;
    height: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.border-top {
    border-top: 1px solid grey;
}

@media screen and (min-width: 768px) {
    .section-div {
        height: 75%;
        top: 9rem;
    }

    .portrait {
        width: 25%;
    }

    .btn-arrow {
        bottom: 15%;
    }

    .arrow-up {
        top: 15%;
        bottom: unset;
    }

    .lower-content {
        top: 9rem;
    }

    .card {
        width: 380px;
        min-width: 380px;
        height: 450px;
    }

    .aligner {
        width: 380px;
        min-width: 380px;
    }

    .pop-out {
        height: 200px;
    }
}

@media screen and (min-width: 1400px) {
    .section-div {
        width: 75%;
    }
}
